<button (click)="buttonClicked()">{{ btnClicked ? 'Hide': 'Show'}}</button>
<p *ngIf="btnClicked">You can find me now.</p>
<br>
<br>
<br>
<div *ngFor="let category of categories">
    <p>{{category.name}}</p>
        <ul *ngFor="let item of category.items">
            <li>{{ item }}</li>
        </ul>
</div>
<br>
<br>
<br>
<div>
    <select [(ngModel)]="role" >
        <option *ngFor="let roleList of roleLists" value="{{roleList}}">{{roleList == '' ? 'Select a role' : roleList}}</option>
        <!-- <option value="admin">Admin</option>
        <option value="manager">Manager</option>
        <option value="lead">Lead</option>
        <option value="employee">Employee</option> -->
    </select>
<br>
<br>
    <div [ngSwitch]="role">
        <div *ngSwitchCase="'admin'">
            This is admin.
        </div>
        <div *ngSwitchCase="'manager'">
            This is Manager.
        </div>
        <div *ngSwitchCase="'lead'">
            This is Lead.
        </div>
        <div *ngSwitchCase="'employee'">
            This is Employee
        </div>
        <div *ngSwitchDefault>
            Nothing selected
        </div>
    </div>
</div>