<h2>Welcome to the Home Page!</h2>
<button (click)="logout()">Log Out</button>

<h3>The details are:</h3>
<p>{{data.userId}}</p>
<p>{{data.title}}</p>
<p>{{data.body}}</p>


<p>My Form</p>
<form  [formGroup]="submittedForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name">
    </div>
  
    <div>
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email">
    </div>
  
    <button type="submit">Submit</button>
</form>

