<h2>Welcome to the Home Page!</h2>
<button (click)="logout()">Log Out</button>

<h3>The details are:</h3>
<p>{{data.userId}}</p>
<p>{{data.title}}</p>
<p>{{data.body}}</p>


<p>My Form</p>
<mat-card class="form-card">
  <h2>Angular Material Form</h2>
  <form [formGroup]="submittedForm" (ngSubmit)="onSubmit()">
    
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Select a Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="selectedDate">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</mat-card>
